@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,600');

:root {
    /*
    --dark-header-background: rgba(0, 214, 170, .85);
    */
    --dark-header-background: rgba(34, 34, 34, 0.85);
    --dark-global-background: rgb(34, 34, 34);
    --dark-content-background: rgb(40, 40, 40);
    --dark-menu-background: rgba(34, 34, 34, 0.8);
    --dark-hs-font: #e8e8e8;
    --dark-body-font: #afafaf;
    --dark-link-hover: #3c6293;
    --header-height: 90px;
    --mobile-padding: 3vw;
    --desktop-padding: 18vw;
    --span-icons-length: 1.6em;
}

*, *::before, *::after {
    box-sizing: border-box;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}


/* Hide scrollbar for Chrome, Safari and Opera
*::-webkit-scrollbar {
  display: none;
}
*/

body {
	margin: 0;
	font-family: 'Work Sans', sans-serif;
    font-size: 22px;
	font-weight: 400;
    color: var(--dark-body-font);
    background: var(--dark-global-background);
}


.container {
    display: flex;
    flex-direction: row;
    align-content: stretch;
    align-items: flex-start;
    flex-wrap: nowrap;
    padding-inline: var(--mobile-padding);
}

.content {
    height: 200vh;
    background-color: var(--dark-content-background);
}

/* navigation styles start here */

header {
    background: var(--dark-header-background);
    border-style: none none solid none;
    border-width: 3px;
    border-color: var(--dark-hs-font);
    text-align: center;
    position: fixed;
    z-index: 13;
    top: 0;
    width: 100%;
    height: var(--header-height);
    padding-inline: var(--mobile-padding);
    /* Add the blur effect */
    backdrop-filter: blur(3px);
}

nav {
    background: var(--dark-header-background);
    position: absolute;
    text-align: right;
    top: var(--header-height);
    width: calc(100% - 2 * var(--mobile-padding));
    padding-top: 1em;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
    /* Add the blur effect */
    backdrop-filter: blur(3px);
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    margin-bottom: 1em;
    margin-left: 1em;
}

nav a {
    color: var(--dark-hs-font)
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}

nav a:hover {
  color: ;
}

/* changed this from the tutorial video to
   allow it to gain focus, making it tabbable */
.nav-toggle {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

.nav-toggle:focus ~ .nav-toggle-label {
  outline: 3px solid rgba(lightblue, .75);
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  right: var(--mobile-padding);
  margin-left: 1em;
  height: 100%;
  width: 1.2em;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-toggle-label span {
    display: block;
    background: var(--dark-hs-font);
    height: var(--span-icons-length);
    width: 2px;
    border-radius: 2px;
    position: relative;
}


span.nav-toggle-m1 {
    right: 1em;
}

span.nav-toggle-m2 {
    height: calc(0.6 * var(--span-icons-length));
    margin-bottom: 0.7em;
    transform: rotate(-45deg);
    right: 16px;
}

span.nav-toggle-m3 {
    height: calc(0.6 * var(--span-icons-length));
    margin-bottom: 0.7em;
    transform: rotate(45deg);
    right: 6px;
}

span.nav-toggle-mvert {
    transform: scale(1, 1);
    transform-origin: top;
    transition: transform 250ms ease-in-out;
}

span.nav-toggle-mdiag {
  margin-top: 0px;
  transition: margin-top 250ms ease-in-out;
}

.nav-toggle:checked ~ .nav-toggle-label span.nav-toggle-mvert {
  transform: scale(1, 0.5);
  transform-origin: top;
  transition: transform 250ms ease-in-out;
}

.nav-toggle:checked ~ .nav-toggle-label span.nav-toggle-mdiag {
  margin-top: 1.3em;
  transition: margin-top 250ms ease-in-out;
}

.nav-toggle:checked ~ nav {
  transform: scale(1,1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

hr.header-limit {
    margin: var(--header-height) 0px 0px 0px;
    border-width: 0px;
}

.toc {
    display: inline-block;
    position: fixed;
    top: var(--header-height);
    z-index: 9;
    background-color: var(--dark-menu-background);
    padding-inline-start: 2em;
    padding-inline-end: 1em;
    max-width: 75vw;
    transform: scale(0, 1);
    transform-origin: left;
    transition: transform 400ms ease-in-out;
}

.toc-toggle {
    z-index: 12;
    position: sticky;
    top: var(--header-height);
    display:none;
}

.toc-toggle-label {
    position: sticky;
    top: var(--header-height);
    z-index: 12;
    padding-block-start: 1.5em;
    padding-block-end: 0.5em;
    height: calc(1.5 * var(--span-icons-length));
    display: flex;
    flex-direction: column;
}

.toc-toggle-label span,
.toc-toggle-label span::before,
.toc-toggle-label span::after {
    display: block;
    background: var(--dark-hs-font);
    height: 2px;
    width: var(--span-icons-length);
    border-radius: 2px;
    position: relative;
    content: "TOC";
}

.toc-toggle-label span::before,
.toc-toggle-label span::after {
    content: '';
    position: absolute;
    width: calc(0.75 * var(--span-icons-length));
    margin-left: calc(0.25 * var(--span-icons-length));
}

.toc ul {
  padding-left: 20px;
}

.toc li {
  margin-bottom: 1em;
  margin-left: 1em;
}

.toc a {
  color: var(--dark-hs-font);
  text-decoration: none;
  font-size: 1.2rem;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

.toc a:hover {
  font-weight: 600;
}

.toc-toggle:checked ~ .toc {
    transform: scale(1, 1);
}

.toc-toggle:checked ~ .toc a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}

.toc-toggle:checked ~ .toc-toggle-label span::before {
    transform: translate(0, calc(0.3 * var(--span-icons-length)));
    transition: transform 150ms ease-in-out;
}

.toc-toggle:checked ~ .toc-toggle-label span::after {
    transform: translate(0, calc(0.6 * var(--span-icons-length)));
    transition: transform 150ms ease-in-out;
}

@media screen and (min-width: 1200px) {
    header {
        padding-inline: var(--desktop-padding);
    }

    .container {
        padding-inline: var(--desktop-padding);
    }
}


@media screen and (min-width: 800px) {
    .content {
        max-width: 70%;
    }

    .nav-toggle-label {
        display: none;
    }

    .toc-toggle-label {
        display: none;
    }

    .toc {
        all: unset;
        position: sticky;
        top: var(--header-height);
        background-color: var(--dark-global-background);
        padding-inline: 1em;
        flex-basis: 60%;
        /*
        border-style: none solid none none;
        border-width: 3px;
        border-color: var(--dark-hs-font);
        */
    }

    .toc a, nav a {
        opacity: 1;
    }

    header {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
    }

    nav {
        all: unset;
    }

    nav ul {
        display: flex;
        align-items: stretch;
        height: var(--header-height);
    }

    nav ul li {
        margin-bottom: 0px;
        margin-left: 2em;
        display: flex;
        align-items: center
    }

    .logo {
        margin-left: 1em;
        margin-block: 0px;
    }
}

